<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>width</key>
		<string>356</string>
		<key>txt</key>
		<string>111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</string>
		<key>height</key>
		<string>300</string>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/271fa5b2-c136-4622-9396-a545352a6ac7@r_1280w_1280h.jpg</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/5ced9b2f-add3-415d-aefb-69f934cd5064@r_1280w_1280h.jpg</string>
		<key>txt</key>
		<string>如果您有电子邮件邀请，请打开它，并点按此邮件底部的“请勿给我发送照片流电子邮件”。系统将打开一个浏览器窗口，显示您将不再接收共享相簿的邀请。点按“撤销此更改”。
如果您不再有邀请，请联系 Apple 支持，并请求接收共享相簿的邀请。您不能自动获取以前的邀请，但您可以联系共享相簿的所有者以请求再发送一个邀请。
</string>
		<key>width</key>
		<string>400</string>
		<key>height</key>
		<string>500</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/71fd26cf-a1a9-46e4-8304-d5f35b8f8275@r_1280w_1280h.jpg</string>
		<key>txt</key>
		<string>其他人向我发送了共享相簿的链接，但我点按链接时出现一则消息，指出此相簿已不再共享。</string>
		<key>width</key>
		<string>290</string>
		<key>height</key>
		<string>190</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/dc32de1c-a3e9-4fa0-8eb1-fe9a996c3f03@r_1280w_1280h.jpg</string>
		<key>txt</key>
		<string>我拒绝了加入共享相簿的邀请。我该如何加入此相簿？</string>
		<key>width</key>
		<string>300</string>
		<key>height</key>
		<string>240</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/3e6f605a-4646-4998-ad8b-4ea1967ef0ef@r_1280w_1280h.jpg</string>
		<key>txt</key>
		<string>在表面下，由两个方面对UICollectionView进行支持。其中之一和tableView一样，即提供数据的UICollectionViewDataSource以及处理用户交互的UICollectionViewDelegate。</string>
		<key>width</key>
		<string>270</string>
		<key>height</key>
		<string>340</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/c808ecf0-b17b-4ee7-b46b-ba74b607e253@r_1280w_1280h.jpg</string>
		<key>width</key>
		<string>400</string>
		<key>txt</key>
		<string>另一方面，对于cell的样式和组织方式，由于collectionView比tableView要复杂得多，因此没有按照类似于tableView的style的方式来定义，而是专门使用了一个类来对collectionView的布局和行为进行描述，这就是UICollectionViewLayout。</string>
		<key>height</key>
		<string>320</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/e9a37097-13b0-4a72-9bb0-095aa46aa508@r_1280w_1280h.jpg</string>
		<key>width</key>
		<string>378</string>
		<key>height</key>
		<string>250</string>
		<key>txt</key>
		<string>UICollectionViewLayoutAttributes的实例中包含了诸如边框，中心点，大小，形状，透明度，层次关系和是否隐藏等信息。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/ada719aa-8fc6-44c3-a010-3f1f7a155e23@r_1280w_1280h.jpg</string>
		<key>width</key>
		<string>290</string>
		<key>height</key>
		<string>370</string>
		<key>txt</key>
		<string>UICollectionViewLayout的功能为向UICollectionView提供布局信息，不仅包括cell的布局信息，也包括追加视图和装饰视图的布局信息。实现一个自定义layout的常规做法是继承UICollectionViewLayout类，</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://ci.xiaohongshu.com/98d5d7f2-5035-4743-b900-b612e749d28b@r_1280w_1280h.jpg</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>430</string>
		<key>txt</key>
		<string>需要了解的是，在初始化一个UICollectionViewLayout实例后，会有一系列准备方法被自动调用，以保证layout实例的正确。</string>
	</dict>
</array>
</plist>
